@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex: auto;
  position: relative;
}

.verseContainer {
  width: 65%;
  background-color: #e1e1ec;
}

.rightAside {
  display: flex;
  align-items: center;
  position: relative;
  width: 35%;
  background-color: #A3BCF9;
}

.inputContainer {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #D1D2F9;
  position: absolute;
  left: -275px;
  border-radius: 25px;
  opacity: 0.95;
}

.inputs {
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 280px;
  font-size: 25pt;
  font-family: 'Raleway', sans-serif;
}

.inputs:focus {
  outline: none;
}

